# Case Study: Home Credit Default Risk

### OBJECTIVE 1

##### Load Data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

fileLocation = '../COURSE/RAKAMIN DATA SCIENTIST/INTERNSHIP/WEEK 4/TASK/home-credit-default-risk/application_test.csv'
df = pd.read_csv(fileLocation)

##### Show Spesific Column in Table 'application_test.csv'

In [ ]:
df[['SK_ID_CURR', 'AMT_INCOME_TOTAL']]

##### Create New Column: CATEGORY

In [ ]:
avg_income = df['AMT_INCOME_TOTAL'].sum()/df['AMT_INCOME_TOTAL'].count()

def category(df):
    if df['AMT_INCOME_TOTAL'] < avg_income:
        ctg = 'lower class'
    elif df['AMT_INCOME_TOTAL'] == avg_income:
        ctg = 'middle class'
    else:
        ctg = 'high class'
    return ctg

df['CATEGORY'] = df.apply(category, axis = 1)
df['CATEGORY']

##### Count The Data by Category

In [ ]:
group_class = df.groupby('CATEGORY')['SK_ID_CURR'].count()
group_class

##### Create The Visualization of Data: Pie Chart

In [ ]:
labels = ['lower class', 'high class']
quantity = [27816, 20928]
colors = ['lightcoral', 'lightskyblue']

plt.title('CLIENT GROUP BY INCOME')
plt.pie(quantity, labels = labels, colors = colors,
       autopct='%1.1f%%', shadow=True, startangle=90)

plt.axis('equal')
plt.show()

### OBJECTIVE 2

##### Load Data

In [ ]:
import numpy as npy
import pandas as pds
import matplotlib.pyplot as pyp

fileLoc = '../COURSE/RAKAMIN DATA SCIENTIST/INTERNSHIP/WEEK 4/TASK/home-credit-default-risk/previous_application.csv'
dtf = pds.read_csv(fileLoc)

##### Group the Client Type

In [ ]:
client_type_count = dtf.groupby('NAME_CLIENT_TYPE')['SK_ID_PREV'].count()
client_type_count

##### Count the New Client: [New, Refreshed, XNA]

In [ ]:
new_client = dtf[ (dtf['NAME_CLIENT_TYPE'] == 'New') | (dtf['NAME_CLIENT_TYPE'] == 'Refreshed') | (dtf['NAME_CLIENT_TYPE'] == 'XNA')]
new_client['SK_ID_PREV'].count()

##### Count the Previous Client: [Repeater]

In [ ]:
old_client = dtf[ (dtf['NAME_CLIENT_TYPE'] == 'Repeater') ]
old_client['SK_ID_PREV'].count()

##### Create the Visualization Data: Pie Chart

In [ ]:
labels = ['new client', 'old client']
quantity = [new_client['SK_ID_PREV'].count(), old_client['SK_ID_PREV'].count()]
colors = ['yellow', 'lightskyblue']

plt.title('CLIENT\'S OPPORTUNITY USING CREDIT MORE THAN ONCE')
plt.pie(quantity, labels = labels, colors = colors,
       autopct='%1.1f%%', shadow=True, startangle=90)

plt.axis('equal')
plt.show()